.widgetGrp{
  display: inline-block;
  vertical-align: middle;
}

.inField{
  border: 1px solid lightgrey;
  border-radius:10px;
}

.btnDiv{
}


.plusBtn{
  display: block;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  width: 25px;
  border-radius: 0px 10px 0px 0px;
  height: 33px;
  border: none;

}

.plusBtn:focus{
  outline:  none;
  box-shadow: none;
}
.minusBtn:focus{
  outline:  none;
  box-shadow: none;
}

.minusBtn{
  display: block;
  -webkit-appearance: none;
  appearance: none;
  border:none;
  background-color: white;
  width: 25px;
  border-radius: 0px 0px 10px 0px;
  height: 33px;
  }

.inputTxt{
  padding-left: 10px;
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}

.otherOption{
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}